/****custom styling start****/
.navbar .nav__item .nav__item-link {
    line-height: 67px!important;
   }
   .navbar .navbar-brand {
     margin-right: 20px!important;
   }
   .read-note{
     margin-bottom: 30px;
   }
   
   /****custom styling end****/