/****custom styling start****/
.navbar .nav__item .nav__item-link {
    line-height: 67px!important;
   }
   .navbar .navbar-brand {
     margin-right: 20px!important;
   }
   .read-note{
     margin-bottom: 30px;
   }
   .service__desc{
    height: 90px;
    overflow: hidden;
   }
   .heading__title {
    font-size: 30px!important;
}
.get-started-btn{
    line-height: 20px!important;
   }
   .service-item .service__title {
    font-size: 20px!important;
   
} 
.service-item .service__desc {
    font-size: 14px!important;
}
.list-items li {
    font-size: 13px!important;
}
.banner-layout5 .divider {
    margin-bottom: 100px!important;
}
.banner-layout5 .contact__icon {
    margin-bottom: 2px!important;
}
.slider .slide__title {
    font-size: 45px;
}
.awards .fancybox-item .fancybox__desc {
    font-size: 13px!important;
    height: 110px!important;
    overflow: hidden;
}

.feature-item-custom{
    height: 100%;
    margin-bottom: 0!important;
}
   /****custom styling end****/